{
    "openapi": "3.1.0",
    "info": {
        "title": "Geogen API",
        "description": "API for accessing LLM visibility data, managing entities, and tracking AI mentions.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.geogen.io/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "API key authentication. Format: Bearer wsk_your_api_key"
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string",
                        "description": "Error message"
                    }
                }
            },
            "Workspace": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Workspace ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Workspace name"
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "properties": {
                    "planName": {
                        "type": "string",
                        "description": "Name of the subscription plan"
                    },
                    "status": {
                        "type": "string",
                        "description": "Subscription status"
                    },
                    "expiresAt": {
                        "type": "number",
                        "description": "Expiration timestamp in milliseconds"
                    }
                }
            },
            "UsageItem": {
                "type": "object",
                "properties": {
                    "used": {
                        "type": "number",
                        "description": "Current usage count"
                    },
                    "limit": {
                        "type": "number",
                        "nullable": true,
                        "description": "Maximum allowed by plan"
                    }
                }
            },
            "Credits": {
                "type": "object",
                "properties": {
                    "balance": {
                        "type": "number",
                        "description": "Current credit balance"
                    },
                    "totalUsed": {
                        "type": "number",
                        "description": "Total credits used"
                    }
                }
            },
            "Entity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Entity ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Entity name"
                    },
                    "target": {
                        "type": "string",
                        "description": "Target URL or domain"
                    },
                    "targetType": {
                        "type": "string",
                        "enum": [
                            "url",
                            "term"
                        ],
                        "description": "Type of target"
                    },
                    "description": {
                        "type": "string",
                        "description": "Entity description"
                    },
                    "faviconUrl": {
                        "type": "string",
                        "description": "Favicon URL"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code"
                    },
                    "geolocation": {
                        "type": "string",
                        "description": "Geolocation code"
                    },
                    "isActive": {
                        "type": "boolean",
                        "description": "Whether entity is active"
                    }
                }
            },
            "Prompt": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Prompt ID"
                    },
                    "prompt": {
                        "type": "string",
                        "description": "Prompt text"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code"
                    },
                    "geolocation": {
                        "type": "string",
                        "description": "Geolocation code"
                    },
                    "createdAt": {
                        "type": "number",
                        "description": "Creation timestamp"
                    }
                }
            },
            "Model": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Model ID"
                    },
                    "uuid": {
                        "type": "string",
                        "description": "Model UUID (use for filtering)"
                    },
                    "name": {
                        "type": "string",
                        "description": "Model name"
                    },
                    "description": {
                        "type": "string",
                        "description": "Model description"
                    }
                }
            },
            "TeamMember": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Member ID"
                    },
                    "userId": {
                        "type": "string",
                        "description": "User ID"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email address"
                    },
                    "name": {
                        "type": "string",
                        "description": "Full name"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "owner",
                            "admin",
                            "member"
                        ],
                        "description": "Role in workspace"
                    },
                    "status": {
                        "type": "string",
                        "description": "Member status"
                    }
                }
            },
            "Tag": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Tag ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Tag name"
                    },
                    "color": {
                        "type": "string",
                        "description": "Tag color"
                    }
                }
            },
            "Pagination": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total count"
                    },
                    "limit": {
                        "type": "number",
                        "description": "Items per page"
                    },
                    "offset": {
                        "type": "number",
                        "description": "Current offset"
                    }
                }
            }
        }
    },
    "paths": {
        "/workspace": {
            "get": {
                "operationId": "getWorkspace",
                "summary": "Get Workspace",
                "description": "Get workspace information, usage limits, and credit balance.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "workspace": {
                                                    "$ref": "#/components/schemas/Workspace"
                                                },
                                                "subscription": {
                                                    "$ref": "#/components/schemas/Subscription"
                                                },
                                                "usage": {
                                                    "type": "object",
                                                    "properties": {
                                                        "entities": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "prompts": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "teamMembers": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "credits": {
                                                            "$ref": "#/components/schemas/Credits"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/members": {
            "get": {
                "operationId": "getWorkspaceMembers",
                "summary": "Get Workspace Members",
                "description": "Get all team members in the workspace.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TeamMember"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/tags": {
            "get": {
                "operationId": "getWorkspaceTags",
                "summary": "Get Workspace Tags",
                "description": "Get all tags in the workspace.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Tag"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities": {
            "get": {
                "operationId": "getEntities",
                "summary": "Get Entities",
                "description": "Get all entities in the workspace.",
                "tags": [
                    "Entities"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Entity"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createEntity",
                "summary": "Create Entity",
                "description": "Create a new entity and start tracking its visibility across LLMs.\n\nPrompts can be handled in three ways:\n- **Custom prompts**: Provide your own prompts via the `prompts` array. They will inherit the entity's `language` and `geolocation`.\n- **Auto-generate** (default): Omit the `prompts` field and AI will generate relevant prompts based on the entity's description, language, and geolocation.\n- **No prompts**: Set `generatePrompts` to `false` to create the entity without any prompts. You can add prompts later via the Add Prompt endpoint.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "domain",
                                    "models"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Entity display name"
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "Website domain (e.g., example.com)"
                                    },
                                    "models": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Array of model UUIDs from /v1/models"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Entity description"
                                    },
                                    "language": {
                                        "type": "string",
                                        "default": "en",
                                        "description": "Language code for the entity and its prompts (e.g., 'en', 'fr', 'de'). All prompts — whether custom or auto-generated — will use this language."
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "default": "global",
                                        "description": "Geolocation code for the entity and its prompts (e.g., 'global', 'us', 'gb'). All prompts will use this geolocation."
                                    },
                                    "trackingType": {
                                        "type": "string",
                                        "enum": [
                                            "website",
                                            "individual"
                                        ],
                                        "default": "website",
                                        "description": "Type of tracking"
                                    },
                                    "prompts": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Custom prompts for tracking. Each prompt is a plain text string. All prompts inherit the entity's language and geolocation — no need to specify them per prompt. When provided, auto-generation is skipped."
                                    },
                                    "generatePrompts": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Whether to auto-generate prompts using AI. Ignored when the `prompts` array is provided. Set to `false` to create the entity without any prompts."
                                    },
                                    "startTracking": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Start tracking immediately"
                                    }
                                }
                            },
                            "examples": {
                                "with_custom_prompts": {
                                    "summary": "With custom prompts",
                                    "description": "Provide your own prompts. All prompts will inherit the entity's language (fr) and geolocation (fr). Auto-generation is skipped.",
                                    "value": {
                                        "name": "Mon Site",
                                        "domain": "example.fr",
                                        "description": "Plateforme de gestion de projet pour les équipes distantes",
                                        "language": "fr",
                                        "geolocation": "fr",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "prompts": [
                                            "Quel est le meilleur outil de gestion de projet pour les équipes à distance ?",
                                            "Quels logiciels recommandez-vous pour la collaboration en ligne ?",
                                            "Quelles sont les meilleures alternatives à Trello en France ?"
                                        ],
                                        "startTracking": true
                                    }
                                },
                                "auto_generate_prompts": {
                                    "summary": "With auto-generated prompts (default)",
                                    "description": "Omit the prompts field to let AI generate relevant prompts based on the entity's description, language, and geolocation.",
                                    "value": {
                                        "name": "My Website",
                                        "domain": "example.com",
                                        "description": "Project management platform for remote teams with task tracking and time management features",
                                        "language": "en",
                                        "geolocation": "us",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "startTracking": true
                                    }
                                },
                                "no_prompts": {
                                    "summary": "Without prompts",
                                    "description": "Create the entity without any prompts. You can add prompts later via the Add Prompt endpoint.",
                                    "value": {
                                        "name": "My Website",
                                        "domain": "example.com",
                                        "description": "Project management platform for remote teams",
                                        "language": "en",
                                        "geolocation": "global",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "generatePrompts": false,
                                        "startTracking": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Entity created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Entity"
                                        },
                                        "promptsGenerated": {
                                            "type": "number",
                                            "description": "Number of prompts saved for this entity (0 if generatePrompts was false and no custom prompts were provided)"
                                        },
                                        "prompts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Prompt ID"
                                                    },
                                                    "prompt": {
                                                        "type": "string",
                                                        "description": "The prompt text"
                                                    },
                                                    "language": {
                                                        "type": "string",
                                                        "description": "Language code (inherited from the entity)"
                                                    },
                                                    "geolocation": {
                                                        "type": "string",
                                                        "description": "Geolocation code (inherited from the entity)"
                                                    }
                                                }
                                            },
                                            "description": "The saved prompts for this entity. Each prompt inherits the entity's language and geolocation."
                                        },
                                        "trackingStarted": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/check-domain": {
            "get": {
                "operationId": "checkDomainAvailability",
                "summary": "Check Domain Availability",
                "description": "Check if a domain is available for tracking before creating an entity. Returns whether the domain is available, already in your workspace, or tracked by another user.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Domain to check (e.g., example.com or https://example.com)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Domain availability check result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "available": {
                                            "type": "boolean",
                                            "description": "Whether the domain is available for tracking"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "enum": [
                                                "not_tracked",
                                                "already_in_workspace",
                                                "tracked_by_another_user"
                                            ],
                                            "description": "Reason for the availability status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Human-readable explanation"
                                        }
                                    }
                                },
                                "examples": {
                                    "available": {
                                        "summary": "Domain is available",
                                        "value": {
                                            "success": true,
                                            "available": true,
                                            "reason": "not_tracked",
                                            "message": "This domain is available for tracking."
                                        }
                                    },
                                    "already_tracked": {
                                        "summary": "Domain already in workspace",
                                        "value": {
                                            "success": true,
                                            "available": false,
                                            "reason": "already_in_workspace",
                                            "message": "This domain is already tracked in your workspace."
                                        }
                                    },
                                    "taken": {
                                        "summary": "Domain tracked by another user",
                                        "value": {
                                            "success": true,
                                            "available": false,
                                            "reason": "tracked_by_another_user",
                                            "message": "This domain is already being tracked by another user."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing domain parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/prompts": {
            "get": {
                "operationId": "getEntityPrompts",
                "summary": "Get Entity Prompts",
                "description": "Get prompts for a specific entity with performance stats.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Start date (ISO format)"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "End date (ISO format)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Prompt"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/addprompt": {
            "post": {
                "operationId": "addPrompt",
                "summary": "Add Prompt(s)",
                "description": "Create one or more prompts for an entity. Supports both single prompt and bulk upload modes.\n\n**Single prompt mode:** Use `prompt` field with a string value.\n\n**Bulk upload mode:** Use `prompts` field with an array of prompt objects. Each object can have its own language/geolocation, or inherit from the top-level defaults.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "entityId"
                                ],
                                "properties": {
                                    "entityId": {
                                        "type": "string",
                                        "description": "Entity ID"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "Prompt text (for single prompt mode)"
                                    },
                                    "prompts": {
                                        "type": "array",
                                        "description": "Array of prompts (for bulk upload mode)",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "prompt"
                                            ],
                                            "properties": {
                                                "prompt": {
                                                    "type": "string",
                                                    "description": "Prompt text"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "description": "Language code (overrides default)"
                                                },
                                                "geolocation": {
                                                    "type": "string",
                                                    "description": "Geolocation code (overrides default)"
                                                }
                                            }
                                        }
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Default language code for prompts"
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "description": "Default geolocation code for prompts"
                                    }
                                }
                            },
                            "examples": {
                                "single": {
                                    "summary": "Single prompt",
                                    "value": {
                                        "entityId": "abc123def456...",
                                        "prompt": "What are the best tools for SEO?",
                                        "language": "en",
                                        "geolocation": "us"
                                    }
                                },
                                "bulk": {
                                    "summary": "Bulk upload",
                                    "value": {
                                        "entityId": "abc123def456...",
                                        "prompts": [
                                            {
                                                "prompt": "What are the best SEO tools?"
                                            },
                                            {
                                                "prompt": "Quelles sont les meilleures outils SEO?",
                                                "language": "fr"
                                            },
                                            {
                                                "prompt": "What is the best marketing software in UK?",
                                                "geolocation": "gb"
                                            }
                                        ],
                                        "language": "en",
                                        "geolocation": "global"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Prompt(s) created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "description": "Single prompt response",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "promptId": {
                                                    "type": "string",
                                                    "description": "Created prompt ID"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "description": "Bulk upload response",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "promptIds": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "Array of created prompt IDs"
                                                },
                                                "count": {
                                                    "type": "number",
                                                    "description": "Number of prompts created"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Prompt limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/deleteprompt": {
            "delete": {
                "operationId": "deletePrompt",
                "summary": "Delete Prompt",
                "description": "Delete a prompt.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "promptId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Prompt ID to delete"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prompt deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Prompt not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/citations": {
            "get": {
                "operationId": "getEntityCitations",
                "summary": "Get Citations",
                "description": "Get top cited domains.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Results per page"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated tag IDs to filter prompts by"
                    },
                    {
                        "name": "promptIds",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated prompt IDs to filter by specific prompts"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "totalCitations": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/citations/details": {
            "get": {
                "operationId": "getCitationDetails",
                "summary": "Get Citation Details",
                "description": "Get detailed URLs for a specific cited domain. Use the citedEntityUuid from the Get Citations endpoint to retrieve the individual citation URLs.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "citedEntityUuid",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "UUID of the cited entity (from Get Citations response)"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Start date (ISO format)"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "End date (ISO format)"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Results per page"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Pagination offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "description": "The cited URL"
                                                    },
                                                    "citationCount": {
                                                        "type": "number",
                                                        "description": "Number of times this URL was cited"
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        },
                                        "period": {
                                            "type": "string",
                                            "description": "The time period used for the query"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/competitors": {
            "get": {
                "operationId": "getCompetitors",
                "summary": "Get Competitors",
                "description": "Get competitors visibility leaderboard.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Results per page"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Pagination offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "visibilityScore": {
                                                        "type": "number"
                                                    },
                                                    "mentionCount": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/responses": {
            "get": {
                "operationId": "getResponses",
                "summary": "Get LLM Responses",
                "description": "Get LLM responses with mention status.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "mentionStatus",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "mentioned",
                                "not-mentioned"
                            ]
                        },
                        "description": "Filter by mention status"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Results per page"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated tag IDs to filter prompts by"
                    },
                    {
                        "name": "promptIds",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated prompt IDs to filter by specific prompts"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/Pagination"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/responses/details": {
            "get": {
                "operationId": "getResponseDetails",
                "summary": "Get Response Details",
                "description": "Get comprehensive details for a single LLM response, including all mentions, citations, and query fanouts associated with it.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "responseId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Response UUID (from the /responses endpoint)"
                    },
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID to get mention context for"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "response": {
                                                    "type": "object",
                                                    "properties": {
                                                        "responseId": {
                                                            "type": "string",
                                                            "description": "Response UUID"
                                                        },
                                                        "responseText": {
                                                            "type": "string",
                                                            "description": "Full response text from the LLM"
                                                        },
                                                        "responseLength": {
                                                            "type": "number",
                                                            "description": "Length of response in characters"
                                                        },
                                                        "createdAt": {
                                                            "type": "string",
                                                            "description": "ISO timestamp when response was created"
                                                        },
                                                        "modelId": {
                                                            "type": "string",
                                                            "description": "Model UUID that generated this response"
                                                        },
                                                        "isMentioned": {
                                                            "type": "boolean",
                                                            "description": "Whether the entity was mentioned in this response"
                                                        },
                                                        "mentionPosition": {
                                                            "type": "number",
                                                            "nullable": true,
                                                            "description": "Position of entity mention in the ranked list (if applicable)"
                                                        },
                                                        "mentionSentiment": {
                                                            "type": "number",
                                                            "nullable": true,
                                                            "description": "Sentiment score of entity mention (-1 to 1)"
                                                        },
                                                        "totalOptionsInList": {
                                                            "type": "number",
                                                            "nullable": true,
                                                            "description": "Total items in the ranked list (if applicable)"
                                                        }
                                                    }
                                                },
                                                "prompt": {
                                                    "type": "object",
                                                    "nullable": true,
                                                    "properties": {
                                                        "promptId": {
                                                            "type": "string",
                                                            "description": "Prompt ID"
                                                        },
                                                        "prompt": {
                                                            "type": "string",
                                                            "description": "The prompt text"
                                                        },
                                                        "language": {
                                                            "type": "string",
                                                            "description": "Language of the prompt"
                                                        },
                                                        "geolocation": {
                                                            "type": "string",
                                                            "description": "Geolocation used for the prompt"
                                                        }
                                                    }
                                                },
                                                "mentions": {
                                                    "type": "array",
                                                    "description": "All entities mentioned in this response",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "entityUuid": {
                                                                "type": "string"
                                                            },
                                                            "entityName": {
                                                                "type": "string"
                                                            },
                                                            "entityDomain": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "position": {
                                                                "type": "number"
                                                            },
                                                            "sentiment": {
                                                                "type": "number",
                                                                "nullable": true
                                                            },
                                                            "isCurrentEntity": {
                                                                "type": "boolean",
                                                                "description": "Whether this is the queried entity"
                                                            }
                                                        }
                                                    }
                                                },
                                                "citations": {
                                                    "type": "array",
                                                    "description": "All URLs cited in this response",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "entityUuid": {
                                                                "type": "string",
                                                                "description": "Entity UUID associated with this citation"
                                                            }
                                                        }
                                                    }
                                                },
                                                "queryFanouts": {
                                                    "type": "array",
                                                    "description": "Web search queries the LLM performed while generating this response",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "query": {
                                                                "type": "string"
                                                            },
                                                            "entityUuid": {
                                                                "type": "string"
                                                            },
                                                            "createdAt": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "summary": {
                                                    "type": "object",
                                                    "properties": {
                                                        "mentionsCount": {
                                                            "type": "number"
                                                        },
                                                        "citationsCount": {
                                                            "type": "number"
                                                        },
                                                        "queryFanoutsCount": {
                                                            "type": "number"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "data": {
                                        "response": {
                                            "responseId": "2e24732f-a7b4-490b-918d-63ff5cf48683",
                                            "responseText": "Here are the top project management tools...",
                                            "responseLength": 1250,
                                            "createdAt": "2024-01-15T10:30:00.000Z",
                                            "modelId": "gpt-4-uuid",
                                            "isMentioned": true,
                                            "mentionPosition": 2,
                                            "mentionSentiment": 0.8,
                                            "totalOptionsInList": 5
                                        },
                                        "prompt": {
                                            "promptId": "abc123",
                                            "prompt": "What are the best project management tools?",
                                            "language": "en",
                                            "geolocation": "US"
                                        },
                                        "mentions": [
                                            {
                                                "entityUuid": "entity-uuid-1",
                                                "entityName": "Asana",
                                                "entityDomain": "asana.com",
                                                "position": 1,
                                                "sentiment": 0.9,
                                                "isCurrentEntity": false
                                            },
                                            {
                                                "entityUuid": "entity-uuid-2",
                                                "entityName": "Monday.com",
                                                "entityDomain": "monday.com",
                                                "position": 2,
                                                "sentiment": 0.8,
                                                "isCurrentEntity": true
                                            }
                                        ],
                                        "citations": [
                                            {
                                                "url": "https://www.g2.com/categories/project-management",
                                                "entityUuid": "g2-entity-uuid"
                                            }
                                        ],
                                        "queryFanouts": [
                                            {
                                                "query": "best project management software 2024",
                                                "entityUuid": "entity-uuid-2",
                                                "createdAt": "2024-01-15T10:29:55.000Z"
                                            }
                                        ],
                                        "summary": {
                                            "mentionsCount": 2,
                                            "citationsCount": 1,
                                            "queryFanoutsCount": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Response or entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/models": {
            "get": {
                "operationId": "getModels",
                "summary": "Get Models",
                "description": "Get all available LLM models.",
                "tags": [
                    "Models"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Model"
                                            }
                                        },
                                        "total": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/trends/visibility": {
            "get": {
                "operationId": "getVisibilityTrend",
                "summary": "Get Visibility Trend",
                "description": "Get visibility trend over time.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated tag IDs to filter prompts by"
                    },
                    {
                        "name": "promptIds",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated prompt IDs to filter by specific prompts"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "date": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/trends/sentiment": {
            "get": {
                "operationId": "getSentimentTrend",
                "summary": "Get Sentiment Trend",
                "description": "Get sentiment trend over time.",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
[...]
