{
    "openapi": "3.1.0",
    "info": {
        "title": "Geogen API",
        "description": "API for accessing LLM visibility data, managing entities, and tracking AI mentions.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.geogen.io/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "API key authentication. Format: Bearer wsk_your_api_key"
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string",
                        "description": "Error message"
                    }
                }
            },
            "Workspace": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Workspace ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Workspace name"
                    }
                }
            },
            "Subscription": {
                "type": "object",
                "properties": {
                    "planName": {
                        "type": "string",
                        "description": "Name of the subscription plan"
                    },
                    "status": {
                        "type": "string",
                        "description": "Subscription status"
                    },
                    "expiresAt": {
                        "type": "number",
                        "description": "Expiration timestamp in milliseconds"
                    }
                }
            },
            "UsageItem": {
                "type": "object",
                "properties": {
                    "used": {
                        "type": "number",
                        "description": "Current usage count"
                    },
                    "limit": {
                        "type": "number",
                        "nullable": true,
                        "description": "Maximum allowed by plan"
                    }
                }
            },
            "Credits": {
                "type": "object",
                "properties": {
                    "balance": {
                        "type": "number",
                        "description": "Current credit balance"
                    },
                    "totalUsed": {
                        "type": "number",
                        "description": "Total credits used"
                    }
                }
            },
            "Entity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Entity ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Entity name"
                    },
                    "target": {
                        "type": "string",
                        "description": "Target URL or domain"
                    },
                    "targetType": {
                        "type": "string",
                        "enum": [
                            "url",
                            "term"
                        ],
                        "description": "Type of target"
                    },
                    "description": {
                        "type": "string",
                        "description": "Entity description"
                    },
                    "faviconUrl": {
                        "type": "string",
                        "description": "Favicon URL"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code"
                    },
                    "geolocation": {
                        "type": "string",
                        "description": "Geolocation code"
                    },
                    "isActive": {
                        "type": "boolean",
                        "description": "Whether entity is active"
                    }
                }
            },
            "Prompt": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Prompt ID"
                    },
                    "prompt": {
                        "type": "string",
                        "description": "Prompt text"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language code"
                    },
                    "geolocation": {
                        "type": "string",
                        "description": "Geolocation code"
                    },
                    "createdAt": {
                        "type": "number",
                        "description": "Creation timestamp"
                    }
                }
            },
            "Model": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Model ID"
                    },
                    "uuid": {
                        "type": "string",
                        "description": "Model UUID (use for filtering)"
                    },
                    "name": {
                        "type": "string",
                        "description": "Model name"
                    },
                    "description": {
                        "type": "string",
                        "description": "Model description"
                    }
                }
            },
            "TeamMember": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Member ID"
                    },
                    "userId": {
                        "type": "string",
                        "description": "User ID"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email address"
                    },
                    "name": {
                        "type": "string",
                        "description": "Full name"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "owner",
                            "admin",
                            "member"
                        ],
                        "description": "Role in workspace"
                    },
                    "status": {
                        "type": "string",
                        "description": "Member status"
                    }
                }
            },
            "Tag": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Tag ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Tag name"
                    },
                    "color": {
                        "type": "string",
                        "description": "Tag color"
                    }
                }
            },
            "Pagination": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "number",
                        "description": "Total count"
                    },
                    "limit": {
                        "type": "number",
                        "description": "Items per page"
                    },
                    "offset": {
                        "type": "number",
                        "description": "Current offset"
                    }
                }
            }
        }
    },
    "paths": {
        "/workspace": {
            "get": {
                "operationId": "getWorkspace",
                "summary": "Get Workspace",
                "description": "Get workspace information, usage limits, and credit balance.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "workspace": {
                                                    "$ref": "#/components/schemas/Workspace"
                                                },
                                                "subscription": {
                                                    "$ref": "#/components/schemas/Subscription"
                                                },
                                                "usage": {
                                                    "type": "object",
                                                    "properties": {
                                                        "entities": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "prompts": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "teamMembers": {
                                                            "$ref": "#/components/schemas/UsageItem"
                                                        },
                                                        "credits": {
                                                            "$ref": "#/components/schemas/Credits"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/members": {
            "get": {
                "operationId": "getWorkspaceMembers",
                "summary": "Get Workspace Members",
                "description": "Get all team members in the workspace.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TeamMember"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspace/tags": {
            "get": {
                "operationId": "getWorkspaceTags",
                "summary": "Get Workspace Tags",
                "description": "Get all tags in the workspace.",
                "tags": [
                    "Workspace"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Tag"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities": {
            "get": {
                "operationId": "getEntities",
                "summary": "Get Entities",
                "description": "Get all entities in the workspace.",
                "tags": [
                    "Entities"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Entity"
                                            }
                                        },
                                        "count": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createEntity",
                "summary": "Create Entity",
                "description": "Create a new entity and start tracking its visibility across LLMs.\n\nPrompts can be handled in three ways:\n- **Custom prompts**: Provide your own prompts via the `prompts` array. Each prompt can be a simple string (inherits the entity's `language` and `geolocation`) or an object with per-prompt `language` and `geolocation` overrides.\n- **Auto-generate** (default): Omit the `prompts` field and AI will generate relevant prompts based on the entity's description, language, and geolocation.\n- **No prompts**: Set `generatePrompts` to `false` to create the entity without any prompts. You can add prompts later via the Add Prompt endpoint.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "domain",
                                    "models"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Entity display name"
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "Website domain (e.g., example.com)"
                                    },
                                    "models": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Array of model UUIDs from /v1/models"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Entity description"
                                    },
                                    "language": {
                                        "type": "string",
                                        "default": "en",
                                        "description": "Language code for the entity (e.g., 'en', 'fr', 'de'). Used as default for auto-generated prompts and for custom prompts that don't specify their own language."
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "default": "global",
                                        "description": "Geolocation code for the entity (e.g., 'global', 'us', 'gb'). Used as default for auto-generated prompts and for custom prompts that don't specify their own geolocation."
                                    },
                                    "trackingType": {
                                        "type": "string",
                                        "enum": [
                                            "website",
                                            "individual"
                                        ],
                                        "default": "website",
                                        "description": "Type of tracking"
                                    },
                                    "prompts": {
                                        "type": "array",
                                        "items": {
                                            "oneOf": [
                                                {
                                                    "type": "string",
                                                    "description": "Prompt text (uses entity's language and geolocation)"
                                                },
                                                {
                                                    "type": "object",
                                                    "required": ["prompt"],
                                                    "properties": {
                                                        "prompt": {
                                                            "type": "string",
                                                            "description": "Prompt text"
                                                        },
                                                        "language": {
                                                            "type": "string",
                                                            "description": "Language override for this prompt (e.g., 'fr', 'de'). Defaults to entity's language."
                                                        },
                                                        "geolocation": {
                                                            "type": "string",
                                                            "description": "Geolocation override for this prompt (e.g., 'us', 'gb'). Defaults to entity's geolocation."
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        "description": "Custom prompts for tracking. Each item can be a plain string (inherits entity's language/geolocation) or an object with per-prompt language/geolocation overrides. When provided, auto-generation is skipped."
                                    },
                                    "generatePrompts": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Whether to auto-generate prompts using AI. Ignored when the `prompts` array is provided. Set to `false` to create the entity without any prompts."
                                    },
                                    "startTracking": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Start tracking immediately"
                                    }
                                }
                            },
                            "examples": {
                                "with_custom_prompts_simple": {
                                    "summary": "Custom prompts (strings)",
                                    "description": "Simple string prompts that inherit the entity's language and geolocation.",
                                    "value": {
                                        "name": "Mon Site",
                                        "domain": "example.fr",
                                        "description": "Plateforme de gestion de projet pour les équipes distantes",
                                        "language": "fr",
                                        "geolocation": "fr",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "prompts": [
                                            "Quel est le meilleur outil de gestion de projet pour les équipes à distance ?",
                                            "Quels logiciels recommandez-vous pour la collaboration en ligne ?",
                                            "Quelles sont les meilleures alternatives à Trello en France ?"
                                        ],
                                        "startTracking": true
                                    }
                                },
                                "with_custom_prompts_mixed": {
                                    "summary": "Custom prompts (per-prompt language/geo)",
                                    "description": "Mix of strings and objects. Strings inherit entity defaults, objects can override language and geolocation per prompt.",
                                    "value": {
                                        "name": "My Website",
                                        "domain": "example.com",
                                        "description": "Project management platform for remote teams",
                                        "language": "en",
                                        "geolocation": "us",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "prompts": [
                                            "What is the best project management tool for remote teams?",
                                            {
                                                "prompt": "Quel est le meilleur outil de gestion de projet ?",
                                                "language": "fr",
                                                "geolocation": "fr"
                                            },
                                            {
                                                "prompt": "What are the top project management tools in the UK?",
                                                "geolocation": "gb"
                                            }
                                        ],
                                        "startTracking": true
                                    }
                                },
                                "auto_generate_prompts": {
                                    "summary": "Auto-generated prompts (default)",
                                    "description": "Omit the prompts field to let AI generate relevant prompts based on the entity's description, language, and geolocation.",
                                    "value": {
                                        "name": "My Website",
                                        "domain": "example.com",
                                        "description": "Project management platform for remote teams with task tracking and time management features",
                                        "language": "en",
                                        "geolocation": "us",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "startTracking": true
                                    }
                                },
                                "no_prompts": {
                                    "summary": "Without prompts",
                                    "description": "Create the entity without any prompts. You can add prompts later via the Add Prompt endpoint.",
                                    "value": {
                                        "name": "My Website",
                                        "domain": "example.com",
                                        "description": "Project management platform for remote teams",
                                        "language": "en",
                                        "geolocation": "global",
                                        "trackingType": "website",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2"
                                        ],
                                        "generatePrompts": false,
                                        "startTracking": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Entity created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Entity"
                                        },
                                        "promptsGenerated": {
                                            "type": "number",
                                            "description": "Number of prompts saved for this entity (0 if generatePrompts was false and no custom prompts were provided)"
                                        },
                                        "prompts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Prompt ID"
                                                    },
                                                    "prompt": {
                                                        "type": "string",
                                                        "description": "The prompt text"
                                                    },
                                                    "language": {
                                                        "type": "string",
                                                        "description": "Language code (per-prompt override or inherited from the entity)"
                                                    },
                                                    "geolocation": {
                                                        "type": "string",
                                                        "description": "Geolocation code (per-prompt override or inherited from the entity)"
                                                    }
                                                }
                                            },
                                            "description": "The saved prompts for this entity. Each prompt has its own language and geolocation (either per-prompt override or inherited from the entity)."
                                        },
                                        "trackingStarted": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateEntity",
                "summary": "Update Entity",
                "description": "Update an existing entity's properties such as domain, description, language, geolocation, or tracked models. Only the fields provided in the request body will be updated.\n\n**Note:** Entity names cannot be changed directly. Use the `POST /entities/name-request` endpoint to submit a name correction request for admin review.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "entityId"
                                ],
                                "properties": {
                                    "entityId": {
                                        "type": "string",
                                        "description": "The ID of the entity to update"
                                    },
                                    "target": {
                                        "type": "string",
                                        "description": "New website domain (e.g., example.com)"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "New entity description"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "New language code (e.g., 'en', 'fr', 'de')"
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "description": "New geolocation code (e.g., 'global', 'us', 'gb')"
                                    },
                                    "models": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "New array of model UUIDs from /v1/models. Must contain at least 1 model."
                                    }
                                }
                            },
                            "examples": {
                                "update_description": {
                                    "summary": "Update description",
                                    "value": {
                                        "entityId": "abc123def456",
                                        "description": "Updated description for the entity"
                                    }
                                },
                                "update_domain": {
                                    "summary": "Update domain",
                                    "value": {
                                        "entityId": "abc123def456",
                                        "target": "newdomain.com"
                                    }
                                },
                                "update_models": {
                                    "summary": "Update tracked models",
                                    "value": {
                                        "entityId": "abc123def456",
                                        "models": [
                                            "model-uuid-1",
                                            "model-uuid-2",
                                            "model-uuid-3"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Entity updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "Entity ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "Entity name"
                                                },
                                                "target": {
                                                    "type": "string",
                                                    "description": "Entity domain/URL"
                                                },
                                                "targetType": {
                                                    "type": "string",
                                                    "enum": ["url", "term"],
                                                    "description": "Type of target"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Entity description"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "description": "Language code"
                                                },
                                                "geolocation": {
                                                    "type": "string",
                                                    "description": "Geolocation code"
                                                },
                                                "models": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "Selected model UUIDs"
                                                },
                                                "isActive": {
                                                    "type": "boolean",
                                                    "description": "Whether the entity is active"
                                                },
                                                "createdAt": {
                                                    "type": "number",
                                                    "description": "Creation timestamp"
                                                },
                                                "updatedAt": {
                                                    "type": "number",
                                                    "description": "Last update timestamp"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Domain conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "removeEntity",
                "summary": "Remove Entity",
                "description": "Remove an entity from your workspace. This detaches the entity from your workspace and cleans up all associated data including sharing records, metadata, schedules, and competitor selections.\n\n**Important:** The entity itself and its historical data (prompts, responses, mentions, citations) are preserved and not deleted. The entity becomes orphaned and can be reclaimed if another user adds the same target.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The ID of the entity to remove"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entity removed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Confirmation message"
                                        },
                                        "deleted": {
                                            "type": "object",
                                            "description": "Counts of deleted records",
                                            "properties": {
                                                "sharedEntities": {
                                                    "type": "number",
                                                    "description": "Number of sharing records removed"
                                                },
                                                "metadata": {
                                                    "type": "number",
                                                    "description": "Number of metadata records removed"
                                                },
                                                "schedule": {
                                                    "type": "number",
                                                    "description": "Number of schedule records removed"
                                                },
                                                "competitorSelections": {
                                                    "type": "number",
                                                    "description": "Number of competitor selection records removed"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "message": "Entity has been removed from your workspace. The entity data is preserved.",
                                    "deleted": {
                                        "sharedEntities": 0,
                                        "metadata": 1,
                                        "schedule": 1,
                                        "competitorSelections": 2
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - missing or invalid entityId",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found in this workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/check-domain": {
            "get": {
                "operationId": "checkDomainAvailability",
                "summary": "Check Domain Availability",
                "description": "Check if a domain is available for tracking before creating an entity. Returns whether the domain is available, already in your workspace, or tracked by another user.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "domain",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Domain to check (e.g., example.com or https://example.com)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Domain availability check result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "available": {
                                            "type": "boolean",
                                            "description": "Whether the domain is available for tracking"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "enum": [
                                                "not_tracked",
                                                "already_in_workspace",
                                                "tracked_by_another_user"
                                            ],
                                            "description": "Reason for the availability status"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Human-readable explanation"
                                        }
                                    }
                                },
                                "examples": {
                                    "available": {
                                        "summary": "Domain is available",
                                        "value": {
                                            "success": true,
                                            "available": true,
                                            "reason": "not_tracked",
                                            "message": "This domain is available for tracking."
                                        }
                                    },
                                    "already_tracked": {
                                        "summary": "Domain already in workspace",
                                        "value": {
                                            "success": true,
                                            "available": false,
                                            "reason": "already_in_workspace",
                                            "message": "This domain is already tracked in your workspace."
                                        }
                                    },
                                    "taken": {
                                        "summary": "Domain tracked by another user",
                                        "value": {
                                            "success": true,
                                            "available": false,
                                            "reason": "tracked_by_another_user",
                                            "message": "This domain is already being tracked by another user."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing domain parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "retryAfter": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/prompts": {
            "get": {
                "operationId": "getEntityPrompts",
                "summary": "Get Entity Prompts",
                "description": "Get prompts for a specific entity with performance stats.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "startDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Start date (ISO format)"
                    },
                    {
                        "name": "endDate",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "End date (ISO format)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Prompt"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/addprompt": {
            "post": {
                "operationId": "addPrompt",
                "summary": "Add Prompt(s)",
                "description": "Create one or more prompts for an entity. Supports both single prompt and bulk upload modes.\n\n**Single prompt mode:** Use `prompt` field with a string value.\n\n**Bulk upload mode:** Use `prompts` field with an array of prompt objects. Each object can have its own language/geolocation, or inherit from the top-level defaults.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "entityId"
                                ],
                                "properties": {
                                    "entityId": {
                                        "type": "string",
                                        "description": "Entity ID"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "Prompt text (for single prompt mode)"
                                    },
                                    "prompts": {
                                        "type": "array",
                                        "description": "Array of prompts (for bulk upload mode)",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "prompt"
                                            ],
                                            "properties": {
                                                "prompt": {
                                                    "type": "string",
                                                    "description": "Prompt text"
                                                },
                                                "language": {
                                                    "type": "string",
                                                    "description": "Language code (overrides default)"
                                                },
                                                "geolocation": {
                                                    "type": "string",
                                                    "description": "Geolocation code (overrides default)"
                                                }
                                            }
                                        }
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "Default language code for prompts"
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "description": "Default geolocation code for prompts"
                                    }
                                }
                            },
                            "examples": {
                                "single": {
                                    "summary": "Single prompt",
                                    "value": {
                                        "entityId": "abc123def456...",
                                        "prompt": "What are the best tools for SEO?",
                                        "language": "en",
                                        "geolocation": "us"
                                    }
                                },
                                "bulk": {
                                    "summary": "Bulk upload",
                                    "value": {
                                        "entityId": "abc123def456...",
                                        "prompts": [
                                            {
                                                "prompt": "What are the best SEO tools?"
                                            },
                                            {
                                                "prompt": "Quelles sont les meilleures outils SEO?",
                                                "language": "fr"
                                            },
                                            {
                                                "prompt": "What is the best marketing software in UK?",
                                                "geolocation": "gb"
                                            }
                                        ],
                                        "language": "en",
                                        "geolocation": "global"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Prompt(s) created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "description": "Single prompt response",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "promptId": {
                                                    "type": "string",
                                                    "description": "Created prompt ID"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "description": "Bulk upload response",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "promptIds": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "Array of created prompt IDs"
                                                },
                                                "count": {
                                                    "type": "number",
                                                    "description": "Number of prompts created"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Prompt limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/updateprompt": {
            "patch": {
                "operationId": "updatePrompt",
                "summary": "Update Prompt",
                "description": "Update an existing prompt's text, language, geolocation, or active status. Set `isActive` to `false` to pause tracking for a prompt without deleting it.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "promptId"
                                ],
                                "properties": {
                                    "promptId": {
                                        "type": "string",
                                        "description": "Prompt ID to update"
                                    },
                                    "prompt": {
                                        "type": "string",
                                        "description": "New prompt text"
                                    },
                                    "language": {
                                        "type": "string",
                                        "description": "New language code (e.g., 'en', 'fr', 'de')"
                                    },
                                    "geolocation": {
                                        "type": "string",
                                        "description": "New geolocation code (e.g., 'global', 'us', 'gb')"
                                    },
                                    "isActive": {
                                        "type": "boolean",
                                        "description": "Set to false to pause tracking for this prompt, or true to re-activate it"
                                    }
                                }
                            },
                            "examples": {
                                "update_text": {
                                    "summary": "Update prompt text",
                                    "value": {
                                        "promptId": "abc123def456...",
                                        "prompt": "What are the best tools for SEO in 2026?"
                                    }
                                },
                                "update_language_geo": {
                                    "summary": "Update language and geolocation",
                                    "value": {
                                        "promptId": "abc123def456...",
                                        "language": "fr",
                                        "geolocation": "fr"
                                    }
                                },
                                "deactivate_prompt": {
                                    "summary": "Deactivate a prompt",
                                    "value": {
                                        "promptId": "abc123def456...",
                                        "isActive": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Prompt updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "prompt": {
                                            "$ref": "#/components/schemas/Prompt"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Prompt not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/deleteprompt": {
            "delete": {
                "operationId": "deletePrompt",
                "summary": "Delete Prompt",
                "description": "Delete a prompt.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "promptId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Prompt ID to delete"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Prompt deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Prompt not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/name-request": {
            "post": {
                "operationId": "submitNameRequest",
                "summary": "Submit Name Change Request",
                "description": "Submit a request to correct an entity's display name. Entity names are global shared data and cannot be changed directly. Instead, submit a name correction request that will be reviewed by an admin.\n\n**Limit:** One pending request per entity per workspace.",
                "tags": [
                    "Entities"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "entityId",
                                    "suggestedName"
                                ],
                                "properties": {
                                    "entityId": {
                                        "type": "string",
                                        "description": "The ID of the entity to request a name change for"
                                    },
                                    "suggestedName": {
                                        "type": "string",
                                        "description": "The suggested correct name"
                                    },
                                    "reason": {
                                        "type": "string",
                                        "description": "Optional reason for the name change"
                                    }
                                }
                            },
                            "examples": {
                                "basic": {
                                    "summary": "Request name correction",
                                    "value": {
                                        "entityId": "abc123def456",
                                        "suggestedName": "Correct Company Name",
                                        "reason": "The current name has a typo"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Request submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request or duplicate pending request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "getNameRequestStatus",
                "summary": "Get Name Request Status",
                "description": "Check the status of a name change request for an entity. Returns the most recent request with its current status (pending, approved, or rejected).",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The ID of the entity to check"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request status returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "The name change request, or null if none exists",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "Request ID"
                                                },
                                                "currentName": {
                                                    "type": "string",
                                                    "description": "The entity's name when the request was made"
                                                },
                                                "suggestedName": {
                                                    "type": "string",
                                                    "description": "The suggested new name"
                                                },
                                                "reason": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "description": "Reason provided for the change"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending",
                                                        "approved",
                                                        "rejected"
                                                    ],
                                                    "description": "Current status of the request"
                                                },
                                                "createdAt": {
                                                    "type": "number",
                                                    "description": "Timestamp when the request was submitted"
                                                },
                                                "reviewedAt": {
                                                    "type": "number",
                                                    "nullable": true,
                                                    "description": "Timestamp when the request was reviewed"
                                                },
                                                "reviewNote": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "description": "Note from the admin reviewer"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/tracking-status": {
            "get": {
                "operationId": "getEntityTrackingStatus",
                "summary": "Get Tracking Status",
                "description": "Get the mention check status for an entity. Returns when the last check completed, when the next check is scheduled, and whether a check is currently in progress. Useful for syncing — poll this endpoint to know when new data is available.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tracking status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "scheduled": {
                                                    "type": "boolean",
                                                    "description": "Whether the entity has a tracking schedule"
                                                },
                                                "lastCheckCompletedAt": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "format": "date-time",
                                                    "description": "ISO timestamp of the last completed mention check, or null if no check has completed yet"
                                                },
                                                "nextCheckScheduledAt": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "description": "ISO timestamp of the next scheduled mention check"
                                                },
                                                "isProcessing": {
                                                    "type": "boolean",
                                                    "description": "Whether a mention check is currently in progress"
                                                },
                                                "frequencyHours": {
                                                    "type": "number",
                                                    "description": "How often mention checks run (in hours)"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "scheduled": {
                                        "summary": "Entity with active tracking",
                                        "value": {
                                            "success": true,
                                            "data": {
                                                "scheduled": true,
                                                "lastCheckCompletedAt": "2026-03-06T10:00:00.000Z",
                                                "nextCheckScheduledAt": "2026-03-07T10:00:00.000Z",
                                                "isProcessing": false,
                                                "frequencyHours": 24
                                            }
                                        }
                                    },
                                    "not_scheduled": {
                                        "summary": "Entity without tracking schedule",
                                        "value": {
                                            "success": true,
                                            "data": {
                                                "scheduled": false,
                                                "message": "No tracking schedule found for this entity"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity not found in this workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entities/citations": {
            "get": {
                "operationId": "getEntityCitations",
                "summary": "Get Citations",
                "description": "Get top cited domains.",
                "tags": [
                    "Entities"
                ],
                "parameters": [
                    {
                        "name": "entityId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Entity ID"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "7d",
                                "14d",
                                "30d"
                            ]
                        },
                        "description": "Time period"
                    },
                    {
                        "name": "models",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated model UUIDs"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Results per page"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Pagination offset"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated tag IDs to filter prompts by"
                    },
                    {
                        "name": "promptIds",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Comma-separated prompt IDs to filter by specific prompts"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "rank": {
                                                        "type": "number"
                                                    },
                                                    "domain": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "totalCitations": {
                                                        "type": "number"
                                                    }
[...]
